.navigation{
    display: flex;
    height: 200px;
    background-color: #ff7f50;
    flex-grow: 1;
}

.products-list{
    display: flex;
    height: 200px;
    background-color: #006400;
    flex-grow: 1;
}

.news{
    display: flex;
    height: 200px;
    background-color: #0ff;
    flex-grow: 1;
}

span{
    text-transform: lowercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px;
    background-color: #faebd7;
    border-radius: 4px;
    margin: auto;
}

@media screen and (min-width:600px){
    .products{
        display: flex;
        flex-grow: 1;
    }
    
}

@media screen and (min-width:900px){
    .content{
        display: flex;
        
    }
    .navigation{
        flex-grow: 3;
        width: 33vw;
    }
    .products-list{
        flex-grow: 3;
        width: 33vw;
    }
    .news{
        flex-grow: 2;
        width: 33vw;
    }
}