.content {
    display: flex;
    flex-direction: column;
}
.products {
    display: flex;
    flex: 2;
    flex-direction: column;
}
.navigation {
    background-color: #ff7f50;
    flex: 1;
    min-height: 200px;
    display: flex;
}
.products-list {
    background-color: #006400;
    flex: 1;
    min-height: 200px;
    display: flex;
}
.news {
    background-color: #0ff;
    flex: 1;
    min-height: 200px;
    display: flex;
}
@media screen and (min-width: 600px) {
    .products {
        flex-direction: row;
        flex: 2;
    }
}
@media screen and (min-width: 900px) {
    .content {
        flex-direction: row;
    }
}
span {
    padding: 8px;
    border-radius: 4px;
    background-color: #faebd7;
    text-transform: lowercase;
    margin: auto;
    font-family: Verdana;
}