.container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.spinner{
    
    position: relative;
    
}

.spinner-text{
    font-family: monospace;
    font-size: 16px;
    text-transform: uppercase;
    animation: blinking 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.rect{
    width: 10px;
    height: 4px;
    background-color: black;
    border-radius: 2px;
    position: absolute;
    animation: moving 2s, blinking 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

