* {
    box-sizing: border-box;
}

.header {
    position: fixed;
    background-color: darkturquoise;
    height: 40px;
    width: 100%;
    z-index: 2;
    text-align: center; 
}



.nav-list{
    height: 40px;
    margin: 0;
}
.nav-item{
    float: left;
    margin-left: 16px;
    line-height: 40px;
    text-align: center; 
    color: white;
    list-style-type: none;

}
.content{
    background-color: beige;
    height: 5000px;
  
    
}

.head{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    z-index: 0;

}

.ear{
    width: 40px;
    height: 60px;
    background-color: brown;
    float: left;


}

.eye{
    width: 30px;
    height: 30px;
    margin-top: 80px;
    border-radius: 50%;
    background-color: grey;

}

.ear_right{
    position: relative;
    left: 200px;
    bottom: 60px;
}

.ear_left{
    position: relative;
    right: 80px;
    bottom: 60px;
}

.eye_right{
    position: absolute;
    margin-left: 20%;
    
    
}
.eye_left{
    position: absolute;
    float: right;
    margin-left: 65%;
    
}