* {
    box-sizing: border-box;
}

.header{
    display: flex;
    height: 40px;
    background-color: yellow;
    align-items: center;

}

.navigation{
    margin: 0;
    display: flex;
    list-style-type: none;
}

.navigation_item{
    margin-right: 16px;
}
.Footer{
    display: flex;
    height: 40px;
    background-color: green;
}
.footer_text{
    margin: auto;
}
.page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content{
    display: flex;
    flex-grow: 1;
}
.dashboard{
    display: flex;
    flex-grow: 1;
    background-color: pink;
    justify-content: center;
    align-items: center;
}

.news_item {
    list-style-type: none;
    
   
}

.h_news{
    align-self: center;
}

.n_list{
    line-height: 40px;
}


.news{
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: grey;
    
    
    
}

