* {
    box-sizing: border-box;
}

.page{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: bisque;
    font-family: monospace;
    font-size: 16px;
}

.login-form{
    background-color: aqua;
    margin: auto;
    width: 300px;
    padding: 16px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    
}

.form-title{
    text-transform: uppercase;
    text-align: center;
}

.form-control{
    margin-bottom: 8px;
}

.form-label{
    margin-top: 4px;
}

.form-input{
    width: 100%;
    height: 32px;
    border-radius: 4px;
    border: 1px #808080;
    padding: 4px;
    outline: none;
}
.form-input:invalid{
    border: 3px #ff0000;
}

.submit-button{
    width: 100%;
    height: 32px;
    background-color: #ff7f50;
    margin-top: 16px;
    color: white;
    text-transform: uppercase;
    border-radius: 4px;
}