*{
    box-sizing: border-box;
}
html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #555;
    font-size: 16px;
}

.header{
    text-align: center;
    color: white;
    background-image: linear-gradient(60deg, red, orange);
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.main{
    display: flex;
}

.footer{
    margin-top: auto;
    background-color: #e5e5e5;
    padding: 0.5em;
    text-align: center;
}
.navigation{
    padding: 0.5em;
    width: 20%;
}
.nav-list{
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;

}
.nav-list-item{
    background-color: #808080;
    color: white;
    height: 2em;
    margin: 0.5em;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.nav-list-link{
    padding: 0.5em;
    text-decoration: none;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.section{
    padding: 0.5em;
    width: 60%;
    font-size: 1.25em;
}
.news{
    padding: 0.5em;
    width: 20%;
}
.units-list{
    line-height: 1.75em;
}
.css-units{
    color: #8b0000;
    background-color: #e5e5e5;
    font-size: 1.125em;
    font-weight: 700;
}

.section_header{
    text-align: center;
    font-size: 5vw;
}