
body{
    display: flex;
}

div{
    width: 150px;
    height: 100px;
    background-color: beige;
    margin: 16px;
}


.cropped{
    overflow: hidden;
}

.both-scrolls{
    overflow: scroll scroll ;
}

.vertical-scroll{
    overflow: scroll;
}