* {
    box-sizing: border-box;
}

.container{
    display: flex;
    height: 100vh;
    width: 100%;
}

.spinner{
    margin: auto;
    font-family: monospace;
    font-size: 16px;
    text-transform: uppercase;
}

.spinner-text{
    
    animation: blinking 1s  linear infinite;
}

.circle{
    width: 50px;
    height: 50px;
    margin: auto;
    border: 4px solid lightgray;
    border-top: 4px solid black;
    border-radius: 50%;
    margin-bottom: 8px;
    animation: spin 2s  linear infinite;
}

@keyframes blinking {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes spin{
    0%{
        transform: rotate(0);
    }
    
    50%{
        transform: rotate(180deg);
    }
    
    100%{
        transform: rotate(360deg);
    }
    
}